extend layout 
block content 
    form(method="POST")
    label(for="uname") UserName:
    input(type="text" id="uname" name="uname" required) 
    br
    label(for="pass") Password:
    input(type="password" id="pass" name="pass" required) 
    br
    button.btn.btn-primary(type='submit') Login 