extend layout 
block content 
    form(method="POST")
        label(for="uname") UserName:
        input(type="text" id="uname" name="username" required) 
        br
        label(for="pass") Password:
        input(type="password" id="pass" name="password" required) 
        br
        button.btn.btn-primary(type='submit') Login 